body {
    font-size: 18px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #018ad2;
    text-decoration: none;
}

a:hover{
color: #c00;
text-decoration: none;
}

button {
    padding: 8px 12px;
}

p {
    margin: 16px;
}

ul {
    margin-left: -20px;
}

table, th, td {
    border-width: 1px;
    border-style: double;
    border-color: black;
}

.review__block {
    display: flex;
    gap: 20px;
}

.text__review {
    display: flex;
    margin-right: 16px;
}

.img__review {
    display: flex;
    margin-right: 16px;
}
iframe {
    border: 1px dashed #ccc;
}
